*{
    padding: 0;
}

body{
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;    
    vertical-align: middle;
    background-color: black;
}

.container{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #33270D;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 80vh;
    border-radius: 100px;
}

.head{
    display: flex;
    text-align: center;
    width: 80%;
    height: 20%;
    background-color: white;
    border-radius: 50px;
    margin-top: 5vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title{
    text-decoration: underline;
    font-size: 3vw;
    margin: 0;
    width: 100%;
}

.buttonAddIten{
    font-size: 1.8vw;
    border-radius: 13px;
}

.boxNameIten{
    font-size: 1.8vw;
    border-radius: 13px;
    text-align: center;
}

.boxQuantIten{
    font-size: 1.8vw;
    border-radius: 13px;
    border-radius: 13px;
    width: 10%;
    text-align: center;
}

.listItens{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12,1fr);
    margin-top: 5vh;    
    background-color: white;
    width: 80%;
    height: 60%;
    border-radius: 50px;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}

.iten{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    justify-content: center;
}

.iten p{
    margin: 0.5vh;
    width: 100%;
    font-size: 1.8vw;
}
.iten button{
    width: 15%;
    height: 80%;
    text-align: center;
    border-radius: 10px;
    background-color: red;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}